/*------------------------------------*\
  #GLOBALS
\*------------------------------------*/

$font-family-title: "Rubik", sans-serif;
$font-family-content: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #fafafa;
  font-family: $font-family-content;
}

/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1 {
  font-family: $font-family-title;
  font-size: 3rem;
  color: #120078;
  padding-top: 2%;
  padding-bottom: 2%;
  grid-column: 2;
  grid-row: 1;
}

h2 {
  font-family: $font-family-title;
  font-size: 2.2rem;
}

/*------------------------------------*\
  #GAME-INTERFACE
\*------------------------------------*/

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 10% 10% 60% 20%;
  height: 100vh;
}

.game {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 10% 25% 60px 25% 10%;
  grid-template-rows: 5% 40% 60px 40% 5%;
  justify-content: center;
}

.scores {
  grid-column: 1;
  grid-row: 2;
  border: 4px solid #333;
  border-radius: 10px;
  width: 200px;
  justify-self: center;

  h3 {
    border-bottom: 4px solid #333;
  }

  p {
    text-align: left;
    padding-left: 15px;
  }
}

.launch-buttons {
  grid-column: 2;
  grid-row: 4;
}

.launch-btn {
  background-color: #120078;
  border-radius: 5px;
  color: #fafafa;
  font-size: 18px;
  height: 60px;
  width: 150px;
  margin: 20px;

  &:hover {
    background-color: #fafafa;
    color: #120078;
  }
}

.btn {
  border-radius: 20px;
  color: #fafafa;
  font-size: 20px;
  height: 100%;
  width: 100%;
  border: 4px solid #111;

  &--green {
    background-color: green;
    grid-column: 2;
    grid-row: 2;
  }

  &--red {
    background-color: red;
    grid-column: 4;
    grid-row: 2;
  }

  &--yellow {
    background-color: yellow;
    grid-column: 2;
    grid-row: 4;
  }

  &--blue {
    background-color: blue;
    grid-column: 4;
    grid-row: 4;
  }
}

/*------------------------------------*\
  #HELP-MODAL
\*------------------------------------*/

#help {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  font-size: 40px;
  color: #120078;
  padding-top: 4%;
  padding-right: 4%;

  &:hover {
    color: #1687a7;
  }
}

.help-modal {
  display: none;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(5, 9, 66, 0.3);

  &__content {
    background-color: #120078;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #fafafa;
    margin: 0 auto;
    padding: 40px 70px;
    height: 40vh;
    width: 40vw;
    text-align: left;

    & p {
      font-size: 1.2rem;
      padding-top: 60px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.close {
  font-size: 40px;
}
